*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
/* Cuerpo de la calculadora */
.body-calculator{
    width: 300px;
    height: 500px;
    padding: 5px;
    border-radius: 15px;
    background-color: #221d21;
}
/* input principal */
.input-prn{
    margin: 5%;
    width: 90%;
    height: 20%;
    text-align: right;
    font-size: 40px;
    background: #433d3d;
    color: #e33c08;
    cursor: pointer;
    border: transparent;
    border-radius: 10px;
    outline: transparent;
}
/* botones up line one */
.body-operations-up-1{
    display: flex;
    margin-left: 16px;
    margin-top: 8px;
}
.conversor-unit{
    margin-right: 3%;
    width: 70%;
    margin-bottom: 2%;
    padding: 8px;
    border-radius: 10px;
    background: #db6744;
    font-size: 15px;
    font-weight: lighter;
    color: #fff;
    border: transparent;
    cursor: pointer;
}
.conversor-unit:hover{
    background-color: #b7aea5;
    font-weight: bold;
    color: #221d21;
}
/* botones de parentesis */
.btnjerarquia{
    width: 30%;
    margin-right: 4%;
}
.btn-j{
    padding: 9px 15px 9px 15px;
    border-radius: 50%;
    background: #433d3d;
    font-size: 15px;
    font-weight: lighter;
    color: #fff;
    border: transparent;
    cursor: pointer;
}
.btn-j:hover{
    background-color: #b7aea5;
    font-weight: bold;
    color: #221d21;
}
/* Botones up line two*/
.body-operations-up-2{
    display: flex;
    margin-left: 8px;
    margin-right: 5%;
}
.body-operations-up-2 input{
    width: 25%;
    margin: 3%;
    padding: 15px;
    border-radius: 100%;
    background: #433d3d;
    font-size: 15px;
    font-weight: lighter;
    color: #fff;
    border: transparent;
    cursor: pointer;
}
.body-operations-up-2-1{
    width: 70%;
}
.body-operations-up-2-2{
    width: 30%;
}
/* Btn del */
.body-operations-up-2-2 input{
    width: 100%;
    margin-left: 8%;
    padding: 15px;
    border-radius: 10px;
    background: #db6744;
    font-size: 15px;
    font-weight: lighter;
    color: #fff;
    border: transparent;
    cursor: pointer;
}
.body-operations-up-2 input:hover{
    background-color: #b7aea5;
    font-weight: bold;
    color: #221d21;
}
/* btn lat */
.body-lat{
    display: flex;
    margin-left: 8px;
    margin-right: 5%;
}
/* botones de numeros */
.body-number{
    width: 70%;
}
.body-number input{
    width: 25%;
    margin: 3%;
    padding: 15px;
    border-radius: 100%;
    background: #433d3d;
    font-size: 15px;
    font-weight: lighter;
    color: #fff;
    border: transparent;
    cursor: pointer;
}
.body-number input:hover{
    background-color: #b7aea5;
    font-weight: bold;
    color: #221d21;
}
/* operaciones laterales */
.body-operations-lat{
    width: 30%;
    display: flex;
    flex-direction: column;
}
.btn-n{
    width: 100%;
    margin: 7%;
    padding: 15px;
    border-radius: 10px;
    background: #433d3d;
    font-size: 15px;
    font-weight: lighter;
    color: #fff;
    border: transparent;
    cursor: pointer;
}
.btn-n:hover{
    background-color: #b7aea5;
    font-weight: bold;
    color: #221d21;
}
/* boton de igual */
.btn-n-same{
    height: 100%;
    width: 100%;
    margin: 7%;
    padding: 15px;
    border-radius: 10px;
    background: #db6744;
    font-size: 15px;
    font-weight: lighter;
    color: #fff;
    border: transparent;
    cursor: pointer;
}
.btn-n-same:hover{
    background-color: #f77014;
    font-weight: bold;
    color: #221d21;
}
/* contenedor de convertidos de unidades */
#con-conversor{
    width: 300px;
    height: 110px;
    display: none;
    padding: 15px;
    border-radius: 15px;
    background-color: #433d3d;
    color: #fff;
}
#con-conversor form{
    margin: 2%;
    text-align: center;
}
#con-conversor button{
    background-color: #db6744;
    padding: 6px;
    width: 100%;
    border-radius: 10px;
    border-color: transparent;
    color: #fff;
    text-align: center;
    cursor: pointer;
}
#con-conversor button:hover{
    background-color: #f77014;
    font-weight: bold;
    color: #221d21;   
}
select{
    border-radius: 10px;
    background-color: #221d21;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
}